body {
	font-family: 'Cutive Mono', monospace;
	background: #000;
	font-size: 120%;
	color: #fff;
	text-transform: uppercase;
}

a {
	color: #000;
	text-decoration: none !important;
	background: #fff;
	transition: background 0.8s;
}




a:hover{
	color: #fff;
	background: #000;
}

#temp_home body > div {
	margin: 40vh 10vw;
	text-transform: lowercase;
}

#temp_home #just-text {
	position: fixed;

}

