{% include "header.html" %}

<body>
    <div class="container" id="archive_page">
        <h1>Recent Projects Archive</h1>

        <hr>

        <h4>CCPC</h4>

        <a target="_blank" href="static/img/wireframe_b&w.jpg">Wireframe1</a>
        <a target="_blank" href="static/img/wireframe_color.jpg">Wireframe2</a>
        <!-- <img class="img-responsive" src="static/img/wireframe_b&w.jpg"/>
        <img class="img-responsive" src="static/img/wireframe_color.jpg"/> -->
        <p>For this wireframe design, we strive to balance between representing large amount of information, while maintaining a streamlined user interaction. We choose to align summary information from all sections vertically in a single page, allowing vertical scroll down. We also offer a fixed menu navigation at the top of the page, displaying more information about each section.</p>

        <hr>

        <h4>Eatery</h4>
        <a target="_blank" href="static/img/Eatery1.jpg">Visual Mock Up 1</a>
        <a target="_blank" href="static/img/Eatery2.jpg">Visual Mock Up 2</a>

        <p>Today we finished a Mobile App mockup for a fun startup that helps New Yorkers find lunch mates quickly. We designed a menu that allows eaters filter restaurants based on location, time, cuisine and people. They can then swipe right to view the picture results, which are sorted based on their search preferences.<p>


            <hr>

        </div>
    </body>
