{% include "header.html" %}
<body>

	<div class="fluid-container">

<!-- ================= -->

		<div id="header" class="row text-center">
			<h4 id="logo">zzyw.co</h4>

			<!-- <img src="/static/img/logo.jpg"> -->
			  <p><a href="#about">zz & yw</a>&nbsp<a href="#contact">email</a></p>



		</div>

		<div class="text-center  row" id="intro">
		<p>Zzyw.co is an New York based art & design studio established in 2013.<br>
		Zzyw's work involved in the field of web / graphic / visual identity / interactive / exhibiation design.<br></p>
		</div>

<!-- ================= -->
		<div id="music">
			<audio id="player" autoplay loop>
				<source src="/static/audio/backgroundmusic.mp3" type="audio/mpeg">
			</audio>

			<a id="stopmusic">
				<span>toggle music</span>
			</a>
		</div>
<!-- ================= -->
		<div class="section row text-center">
			<div class="balance-sketch">
				<canvas  data-processing-sources="/static/processing/sketch2.pde"></canvas>
			</div> 
			<p class="project-caption">
			<br>
			<a target="_blank" href="http://thebalance.heroku.com">BALANCE</a> - Path @ 2014 | Interactive Internet Art
			<br>
			( full interactive experience on BALANCE site )
			</p>
		</div>

<!-- ================= -->
		<div class="row section text-center" id="exhibitgrowth">
			<img src="http://www.yangwang.info/static/img/projects/growth/growth.png">
			<p class="project-caption">
			<br>
			<a target="_blank"  href="https://www.umpquabank.com/exhibit">Exhibit:Growth</a> @ 2014 | Interactive Art Installation<br>

	"Exhibit:Growth 	is an interactive, immersive exploration of human potential.<br> Inside a stunning geodesic dome, you’ll choreograph a unique visual expression via large-scale, motion-activated digital technology.<br>
		The exhibit is created by Umpqua Bank, which is inspired by the potential for growth within us all, both as individuals and as a community."</p>
		</div> 

<!-- ================= -->

<div class="row section text-center" id="acalogo">
	<video autoplay loop muted width="640" height="360">
	  <source src="https://s3-us-west-2.amazonaws.com/cunchuvideo/aca.mp4.mp4" type="video/mp4">
	  <source src="https://s3-us-west-2.amazonaws.com/cunchuvideo/aca.oggtheora.ogv" type="video/ogg">
	  Preview not available. Your browser does not support the video tag.
	</video>

	<p>
	
	Art Coummmnity Alliance interactive logo @ 2014
	</p>

</div>

<!-- ================= -->
		<div class="row section text-center" id="websites">
			<div class="thum-grid col-md-6 col-xs-12">
				<img src="/static/img/lyte.png" >
				<img src="/static/img/ccpc.png">
				<img src="/static/img/webthefilm.png">
				<img src="/static/img/ci.png">
			</div>
			<p class="project-caption col-md-6 col-xs-12 text-left-lg text-left-md">
				<br>Web Presents @ 2014<br>
				<a  target="_blank" href="http://lyteup.com">Lyte</a> - New York based start up, focus on online ticket sales;<br>
				<a  target="_blank" href="http://ccpc2014.org">2014 Columbia China Prospects Conference</a> - A major China-US conference holds by Columbia University annually;<br>
				<a target="_blank"  href="http://webthefilm.com">Web the Film</a> - An awards winning film produced by Sundial Pictures;<br>
				<a target="_blank"  href="http://corporateinsight.com">Corporate Insight</a> - New York Based Consulting Company.<br>
			</p>
		</div>

<!-- ================= -->

		<div class="section row text-center">
			<div class="balance-sketch">
				<canvas  data-processing-sources="/static/processing/Sphere_of_Particles.pde"></canvas>
			</div> 
			<p class="project-caption">
			<br>
			<a target="_blank" href="http://thebalance.heroku.com">BALANCE</a> - Form @ 2013 | Interactive Internet Art
			<br>
			( full interactive experience on BALANCE site )
			</p>
		</div>

<!-- ================= -->

		<div class="section row text-left" id="graphicdesigns">

			<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3" id="image-container">
				<img src="/static/img/graphics/happinesswy.jpg">
				<!-- <img src="/static/img/graphics/iamhere.jpg"> -->
				<img src="/static/img/graphics/internationaleducation.jpg">
				<img src="/static/img/graphics/itpshow.jpg">
				<!-- <img src="/static/img/graphics/eatery2.jpg"> -->
				
				<img src="/static/img/graphics/balance/1.jpg">
				<img src="/static/img/graphics/balance/2.jpg">
				<img src="/static/img/graphics/balance/3.jpg">
				<img src="/static/img/graphics/balance/4.jpg">
				<img src="/static/img/graphics/lucidintervals.jpg">
				<img src="/static/img/graphics/balance/5.jpg">
				<img src="/static/img/graphics/pier69.jpg">
				<img src="/static/img/graphics/richstone.gif">
				
				<p>
				<br>
				visual identities & posters @ 2013
				</p>
			</div>
		</div>

<!-- ================= -->
	<hr>


	<div id="about" class="section row"> 
		<div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-3" id="ywintro">
		<P> <a target="_blank" href="http://yangwang.info">yw ( yang wang )</a> is an new media artist, designer and createive coder. After he received his degree on artistic design at Beijing, he went to New York to study new media art & interaction design. He now works on using emerging technogoies to create a better interaction experience and a more immersive environment to convey the creator's idea.<br>
		</P>
		</div>

		<div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0" id="zzintro">
		<p><a href="http://zhenzhenqi.info" target="_blank">zz ( zhenzhen qi )</a> is an artist, researcher, and designer. Born in mainland China, she has lived in Hong Kong, San Francisco, and most recently New York. She is the co-founder and principal designer of NY based design studio, ZZYW Co. Her  work explores relationships between emerging new media technology and human self-knowledge, and the potential for technology to create new ways to mediate and evolve our encounter with our own behaviors, emotions, and perceptions. She is fascinated by employing new media technology to create alternative realities that’s slightly surreal, where patterns are shifted, expectations are broken, and participants start to become aware of their less conscious self.</p>
		</div>
	</div>

<!-- ================= -->

<div class="section row text-center" id="contact">
	<p>Please direct all inquiries to hi@zzyw.co</p>
</div>


<!-- ================= -->

	</div>
	{% include "trackingcode.html" %}
</body>
